@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;500&display=swap');

ion-header{
    ion-toolbar{
        --background: #454546;

    }
}

ion-content {
    --background: #D9D9D9;

    .tabla{
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type: x proximity;
        table {
            margin: 15px auto 15px auto;
            width: 125%;
            min-height: 100%;
            border: 1px solid black;
            border-collapse: collapse;
    
            thead {
                background: #8D8D8D;
                color: #FFFFFF;
                th {
                    border: 1px solid black;
                    border-collapse: collapse;
                    text-align: center;
                    height: 50px;
                }
            }
    
            tbody{
                background: #E7E7E7;
                color: black;
                .PR{
                    width: 30px;
                }
                td{
                    border: 1px solid #8989895d;
                    border-collapse: collapse;
                    text-align: center;
                    font-size: 20px;
                    height: 50px;
                }
            }
    
        }
    }
}